.news-container {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    padding: 30px 20px;
    transition: padding-left .25s ease;
    flex-direction: column;
}

.section-head {
    width: 1240px;
}

.news-list {
    width: 1240px;
}

.news-card__body {
    display: flex;
    flex-direction: row;
}

.news-card__content {
    width: 954px;
    height: 152px;
}

.breadcrumbs__news {
    font-size: 32px;
    line-height: 120%;
    color: #07150A;
    text-decoration: none;
}

.section-head__actions {
    align-items: center;
}

.section-news__btn {
    border: none;
    font-size: 16px;
    height: 24px;
    padding: 0;
    font-weight: 450;
    line-height: 110%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-news__link {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
    font-size: 16px;
    font-weight: 450;
    text-decoration: none;
    color: #07150A;
}

/* ---------------------------------------- модалка за все время кнопка --------------------------------------- */
.news-dd {
    position:fixed;
    inset:0;
    display:none;
    z-index:500;
}
.news-dd.is-open {
    display:block;
}
.news-dd__backdrop {
    position:absolute;
    inset:0;
}

.news-dd__panel{
    position: absolute;
    width: 138px;
    height: 166px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px #00000026;
    padding: 12px 16px;
}

.news-dd__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.news-dd__item {
    appearance: none;
    border: 0;
    background: none;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0 0 12px 0;
    font-size: 16px;
    line-height: 110%;
    color: #07150A;
    font-weight: 400;
}

/* эффект при hover/focus (модификатор, чтобы было отключаемо) */
.news-dd--underline .news-dd__item:hover,
.news-dd--underline .news-dd__item:focus-visible{
    text-decoration:underline;
    text-decoration-color:#8FD700;
    text-underline-offset:2px;
    font-weight: 700;
}

/*-------------------------------------------модалка список компаний ---------------------------------------------*/
.org-dd{ position:fixed; inset:0; display:none; z-index:1000; }
.org-dd.is-open{ display:block; }

.org-dd__panel {
    position:absolute;
    width: 264px;
    height: 539px;
    background:#fff;
    border-radius:6px;
    box-shadow:0 4px 12px #00000026;
    padding:12px 16px;
}

.org-dd__list{
    list-style:none;
    margin:0;
    padding:0;
    overflow:auto;
}

.org-dd--underline .org-dd__item{ text-decoration:none; }
.org-dd--underline .org-dd__item:hover,
.org-dd--underline .org-dd__item:focus-visible{
    text-decoration-line:underline;
    text-decoration-color:#8FD700;
    text-decoration-thickness:1px;
    text-underline-offset:4px;
}

.org-dd__item{
    appearance:none;
    border:0;
    background:none;
    cursor:pointer;
    display:block;
    padding:0;
    font-size:16px;
    margin-bottom:12px;
    font-weight:400;
    line-height:120%;
    color:#07150A;
}

.org-dd__item.is-active{ color:#0b1b0b; position:relative; }

/* необязательная шапка «Моя компания» */
.org-dd__heading{
    font-weight:700;
    font-size:18px;
    margin:0 0 12px 0;
    color:#07150A;
}

/* задний слой (клик по нему закроет окно) */
.org-dd__backdrop{ position:absolute; inset:0; }